QPushButton#sample_button {
  background-color: qlineargradient(x1: 0, y1: 0,
                                    x2: 0, y2: 1,
                                      stop: 0 green,
                                      stop: 1 darkgreen);
  color : white;
  border:  2px solid green ;
  border-bottom-left-radius:10px;
  border-top-left-radius:10px;
  font: bold 15px;
}

QPushButton:hover#sample_button {
  background-color: qlineargradient(x1: 0, y1: 0,
                                    x2: 0, y2: 1,
                                      stop: 0 lightgreen,
                                      stop: 1 green);
}

QPushButton:pressed#sample_button {
  background-color: darkgreen;
}

QPushButton#options_button {
  background-color: qlineargradient(x1: 0, y1: 0,
                                    x2: 0, y2: 1,
                                      stop: 0 green,
                                      stop: 1 darkgreen);
  color : white;
  border:  2px solid green ;
  border-bottom-right-radius:10px;
  border-top-right-radius:10px;
  font: bold 15px;
}

QPushButton:hover#options_button {
  background-color: qlineargradient(x1: 0, y1: 0,
                                    x2: 0, y2: 1,
                                      stop: 0 lightgreen,
                                      stop: 1 green);
}

QPushButton:pressed#options_button {
  background-color: darkgreen;
}

QWidget {
  background-color : gray;
}
